/*body*/
body {
    background-color: lightgrey;
    font-size: 20px;

}
#content {
    max-width: 60%;
    border:1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
}

p{
    color : blue;
    font-size: 1.3em;
}

hr{
    height: 3px;
    background-color : blue;
    width: 80%;
    margin-top: 50px;

}

h1, h2, p{
    text-align: center;
}

img{
    width: 50%;
    display: block;
    margin: 50px auto;
}
#topics{
    line-height: 1.5em;
    margin: 0 auto;
    width: 55%

}
.list{
    list-style-type: none;
}