body{
    background-color: white;
    font-size: 20px;
}

#stuff{
    max-width: 60%;
    margin: 0 auto;
    border: 1px solid darkgrey;
    padding: 50px;
    
}
h1 + p {
    color : rgb(96, 166, 247);
    font-size: 1em;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}
p {
    line-height: 1.5em;
}

hr{
    width: 100%;
    margin-top: 5px;
}
h1{
    text-align: center;
    padding: 30px 40px;
}

div p:nth-of-type(2){
    padding-top: 30px;
}

div p:nth-of-type(3){
    font-style: italic;
}
li{
    padding: 10px;
    line-height: 1.6em;

}

img{
    margin: 0 auto;
    padding-top: 30px;
    display: block;
    width: 20%;
}