
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
}

header, footer {
    background-color: rgba(62, 117, 238, 0.795);
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
}

/* MAIN GRID LAYOUT */
main {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem; 
    padding: 1rem; 
}

h2 {
    grid-column: 1 / -1; 
    text-align: center;
    margin-top: 0;
}

/* IMAGE*/
figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}
.gallery {
    max-width: 1000px;
    margin: 0 auto;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}
/* MENU / NAVIGATION STYLES */
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

nav {
    text-align: center;
}

/* Hide links on mobile by default (Javascript will show them later) */
nav a {
    padding: 15px;
    color: white;
    display: none; /* Hidden on mobile */
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: #616061;
    background-color: rgba(255,255,255, 0.2); /* Added hover effect */
}

footer {
    text-align: center;
    padding: 20px;
}

/* --- MEDIA QUERIES --- */

/* TABLET (2 Columns) */
@media (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* DESKTOP (3 Columns) */
@media (min-width: 1000px) {
    img{
        width: 80%
    }

    /* Hide the button, show the links */
    .menu-btn {
        display: none;
    }

    nav a {
        display: inline-block; /* Show links */
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }

}