
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
}

header, footer {
    background-color: rgba(62, 117, 238, 0.795);
    color: white;
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0; /* Removing default margin helps alignment */
}

/* MAIN GRID LAYOUT */
main {
    display: grid;
    grid-template-columns: 1fr; /* Mobile: 1 column */
    gap: 1rem; /* This creates the space between pictures */
    padding: 1rem; /* Adds space around the outside edge */
}

h2 {
    grid-column: 1 / -1; 
    text-align: center;
    margin-top: 0;
}

/* IMAGE*/
img {
    width: 50%;
    justify-self: center;
    aspect-ratio: 1/1;
    border: 5px solid #fff9f9;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

/* MENU / NAVIGATION STYLES */
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

nav {
    text-align: center;
}

/* Hide links on mobile by default (Javascript will show them later) */
nav a {
    padding: 15px;
    color: white;
    display: none; /* Hidden on mobile */
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: #616061;
    background-color: rgba(255,255,255, 0.2); /* Added hover effect */
}

footer {
    text-align: center;
    padding: 20px;
}

/* --- MEDIA QUERIES --- */

/* TABLET (2 Columns) */
@media (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

/* DESKTOP (3 Columns) */
@media (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 900px; 
        margin: 0 auto;
    }
    img{
        width: 80%
    }

    /* Hide the button, show the links */
    .menu-btn {
        display: none;
    }

    nav a {
        display: inline-block; /* Show links */
    }

}